In [1]:
import numpy as np
import pandas as pd
import pandera as pa

In [6]:
values: list[np.int32] = [1,2,3]
keys: list[str] = ['a','b','c']
pd.Series(values,index=keys,name="Table Of Numbers",dtype=np.int32)

a    1
b    2
c    3
Name: Table Of Numbers, dtype: int32

In [4]:
from nptyping import DataFrame, Structure as S,String as Str, Float

In [7]:
a:DataFrame[S["name: Str, x: Float, y: Float"]] = [[1,2],"faran"]

In [8]:
a

[[1, 2], 'faran']

In [5]:
df = pd.DataFrame({
    'column1':[1,4,0,10,9],
    'column2':[-1.3,-1.4,-2.9,-10.1,-20.4],
    'column3':['value_1','value_2','value_3','value_2','value_1',]
})

In [6]:
schema = pa.DataFrameSchema({
    'column1':pa.Column(int,checks=pa.Check.le(10)),
    'column2':pa.Column(float,checks=pa.Check.lt(-1.2)),
    'column3':pa.Column(str,checks=[
        pa.Check.str_startswith('value_'),
        pa.Check(lambda s: s.str.split('_',expand=True).shape[1]==2)
    ]),
})
validated_df = schema(df)
validated_df

   column1  column2  column3
0        1     -1.3  value_1
1        4     -1.4  value_2
2        0     -2.9  value_3
3       10    -10.1  value_2
4        9    -20.4  value_1

In [7]:
s1 = pd.Series([1,2,3,4,5],name="Student_id")
s2 = pd.Series([111,231,411,231,124], name="Student_score")
s3 = pd.Series(["Abod",'John','ZAina','Fqew','Ferrtr'],name='Student_name')
df1: pd.DataFrame = pd.DataFrame({'Student_id':s1,"Student_score":s2,"Student_name":s3})
df1

   Student_id  Student_score Student_name
0           1            111         Abod
1           2            231         John
2           3            411        ZAina
3           4            231         Fqew
4           5            124       Ferrtr

In [8]:
df2 = pd.concat([s1,s2,s3],axis=1)
df2

   Student_id  Student_score Student_name
0           1            111         Abod
1           2            231         John
2           3            411        ZAina
3           4            231         Fqew
4           5            124       Ferrtr

In [10]:
data: list[list[int]]  =  [[1,2,3],[3,4,5],[51,2,3]]
data

[[1, 2, 3], [3, 4, 5], [51, 2, 3]]

In [13]:
df = pd.DataFrame(data,columns=["A",'V',"C"],index=['a','b','c'])

In [16]:
df.dtypes

A    int64
V    int64
C    int64
dtype: object